{% extends "erc/blog/BlogBase.html" %}
{% block blog %}
<div class="blog-content">
title      = chassis
heading    = Chassis
subheading = A chassis is the physical frame or structure of an automobile, an airplane, a desktop computer, or other multi-component device. Here, you will learn about the chassis of dynamic bot.
category   = None
tags       = None
author     = Anshik Gupta
date       = July 07, 2016

//(DO NOT REMOVE THESE LINES)
//(WRITE YOUR BLOG BELOW)

<div>
        <p>A chassis is the physical frame or structure of an automobile, an airplane, a desktop computer, or other multi-component device. An example of a chassis is the underpart of a motor vehicle, consisting of the frame (on which the body is mounted). If the running gear such as wheels and transmission, and sometimes even the driver’s seat, are included, then the assembly is described as a rolling chassis.</p>

<p>The Chassis provides a rigid, safe and sufficiently strong support and protection to the driver, engine and all components of the car. It can also be described as a means of linking together appropriately all the mounting points of the car.</p>

<p><img id="img1"src="https://grubdragon.github.io/erciitb/assets/tutorials/Chassis/Chassis1.png" alt="Orca" /></p>

<h1>TABLE OF CONTENTS</h1>
<ul id="markdown-toc">
  <li><a href="#frame" id="markdown-toc-frame">FRAME</a>    <ul>
      <li><a href="#acrylic" id="markdown-toc-acrylic">Acrylic</a></li>
      <li><a href="#aluminium" id="markdown-toc-aluminium">Aluminium</a></li>
      <li><a href="#wood" id="markdown-toc-wood">Wood</a></li>
    </ul>
  </li>
  <li><a href="#motor-mounting" id="markdown-toc-motor-mounting">MOTOR MOUNTING</a></li>
  <li><a href="#servo-mounting" id="markdown-toc-servo-mounting">SERVO MOUNTING</a></li>
  <li><a href="#mounting-robot-batteries" id="markdown-toc-mounting-robot-batteries">MOUNTING ROBOT BATTERIES</a></li>
  <li><a href="#mounting-sensors" id="markdown-toc-mounting-sensors">MOUNTING SENSORS</a></li>
  <li><a href="#wheels" id="markdown-toc-wheels">WHEELS</a>    <ul>
      <li><a href="#wheel-diameter" id="markdown-toc-wheel-diameter">Wheel Diameter</a></li>
      <li><a href="#wheel-texture" id="markdown-toc-wheel-texture">Wheel Texture</a></li>
      <li><a href="#wheel-width" id="markdown-toc-wheel-width">Wheel Width</a></li>
      <li><a href="#wheel-hole-centre-diameter" id="markdown-toc-wheel-hole-centre-diameter">Wheel hole centre diameter</a></li>
    </ul>
  </li>
  <li><a href="#mounting-your-robot-wheel-techniques" id="markdown-toc-mounting-your-robot-wheel-techniques">MOUNTING YOUR ROBOT WHEEL TECHNIQUES</a>    <ul>
      <li><a href="#jamming" id="markdown-toc-jamming">Jamming</a></li>
      <li><a href="#servo-wheel-mounting" id="markdown-toc-servo-wheel-mounting">Servo Wheel Mounting</a></li>
    </ul>
  </li>
</ul>

<h1 id="frame">FRAME</h1>

<p>The material that can be used for the chassis is</p>
<ol>
  <li>Acrylic</li>
  <li>Aluminium</li>
  <li>Wood</li>
</ol>

<h2 id="acrylic">Acrylic</h2>

<p>Advantages:</p>

<ul>
  <li>Light Weight</li>
  <li>Easy to work with (cut and drill)</li>
  <li>Transparent sheets availablewhich can be used in robots where internal mechanism is to be displayed</li>
</ul>

<p>Disadvantages:</p>

<ul>
  <li>On application of load it bends</li>
  <li>Brittle and fragile</li>
  <li>Unable to sustain shocks and powerful jerks during impacts or jumps</li>
  <li>Not reliable for long term usage of machine</li>
</ul>

<h2 id="aluminium">Aluminium</h2>

<p>Advantages:</p>
<ul>
  <li>Lightweight</li>
  <li>Easy milling (compared to other metals)</li>
  <li>Readymade sections, bars, boxes, etc. are easily available in the market which can be directly used</li>
  <li>Higher strength to weight ratio.</li>
</ul>

<p>Disadvantages:</p>
<ul>
  <li>Sheet of same dimension is very heavy as compared to other two materials</li>
</ul>

<h2 id="wood">Wood</h2>

<p>Advantages:</p>
<ul>
  <li>Lightest among the three</li>
  <li>Relatively cheaper than acrylic.</li>
  <li>Easy to work with.</li>
</ul>

<p>Disadvantages:</p>
<ul>
  <li>Weaker than aluminum.</li>
  <li>Not Waterproof.</li>
</ul>
<hr />

<h1 id="motor-mounting">MOTOR MOUNTING</h1>
<p><img id="img2"src="https://grubdragon.github.io/erciitb/assets/tutorials/Chassis/Chassis2.png" alt="motor" /></p>

<p>To mount any type of motor to your chassis you will need to use an <strong>L shaped bracket</strong>. For a DC motor, all you need to do is take a sheet of aluminum, drill two holes in two of the corners, drill two more holes on the other half to match the motor screw holes, then bend the entire piece in a 90 degree angle.</p>
<hr />

<h1 id="servo-mounting">SERVO MOUNTING</h1>
<p><img id="img3"src="https://grubdragon.github.io/erciitb/assets/tutorials/Chassis/Chassis3.png" alt="servo" /></p>

<p>To mount your servo to your chassis, once again you will use the little baggie of goodies that came with the servo. You should have two <strong>black cube</strong> looking things with holes in it. There will be three holes in front and a single hole on the bottom. Your servo should also have four mounting holes, two on each side. Using screws, attach the front of the black things to each side of the servo. As shown in the image below, then attach your robot base with two more screws to the bottom hole of the black thingies. This particular robot used a thin reinforced sheet of aluminum as the base with two drilled holes for the mounting screws. and the completed mounted servo and wheel configuration . . .
<img id="img4"src="https://grubdragon.github.io/erciitb/assets/tutorials/Chassis/Chassis4.png" alt="servo2" /></p>
<hr />

<h1 id="mounting-robot-batteries">MOUNTING ROBOT BATTERIES</h1>
<p><img id="img5"src="https://grubdragon.github.io/erciitb/assets/tutorials/Chassis/Chassis5.png" alt="batteries" /></p>

<p>Mounting your batteries is very simple. As long as you are using an <strong>RC battery pack</strong> (such as <strong>NiCad</strong> or <strong>NiMH</strong>, you can simply mount your batteries to your robot using strips of velcro. This is the velcro that has a sticky tape side and a velcro side. The advantage to this mounting method is that you can easily swap out your batteries for freshly charged ones - great if you are in a robot competition. You can also group multiple batteries together using zip ties.</p>
<hr />

<h1 id="mounting-sensors">MOUNTING SENSORS</h1>

<p><img id="img6"src="https://grubdragon.github.io/erciitb/assets/tutorials/Chassis/Chassis6.png" alt="Sensors" /></p>

<p>Mounting sensors is very much a case-by-case basis. What makes mounting sensors difficult is that you are very limited on where you can place them onto your robot. They must be away from noisy motors, and probably at the front/sides of your robot. You must also keep them protected so that collisions and dirt wont damage your sensors too. If your robot is a line follower, you have to keep your sensors at an exact distance from the ground or risk bad data - even when the ground is uneven! If you are lucky, your sensor has screw holes in just the right place at just the right angle. But in my experience this is very unlikely. So you must get creative, build a mount, use a little glue . . . you get the picture.</p>

<p>Here you see a homemade aluminum mount for a sonar transducer and another mount on a servo for two <strong>Sharp IR Rangefinders</strong>. The sonar mount is aluminum bent at 90 degrees with a few screw holes drilled into it, and plastic spacers to prevent any shorting of the circuit board with the aluminum. The IR Rangefinder mount is aluminum with <strong>double sided sticky tape</strong> holding the sensors onto the aluminum plate.</p>
<hr />

<h1 id="wheels">WHEELS</h1>

<h2 id="wheel-diameter">Wheel Diameter</h2>

<p><img id="img7"src="https://grubdragon.github.io/erciitb/assets/tutorials/Chassis/Chassis7.png" alt="wheels" /></p>

<p>When buying (or making) your wheels you want to put your motor into consideration. For a start, there is <strong>torque</strong> and <strong>velocity</strong>. Large diameter wheels give your robot low torque but high velocity. So if you already have a very strong motor, then you can use wheels with larger diameters. Servo’s already have good torque, so you should use larger diameter wheels. But if your motor is weak (such as if it does not have any gearing), you want to use a much smaller diameter wheel. This will make your robot slower, but at least it has enough torque to go up a hill! Another dumb mistake someone can make is buying a wheel that has a diameter close to or less than the motor diameter. For example, if you have a 1” diameter motor, and a 1.5” diameter wheel, you have a .25” <strong>ground clearance</strong> ( (1.5”-1”)/2=.25” ). How high is the tallest object you want to go over?</p>

<h2 id="wheel-texture">Wheel Texture</h2>

<p>The texture of your wheel is very terrain dependent. A common mistake for beginners is to ignore the texture of the wheel. If your wheel is too smooth then it will not have much friction. This is a serious issue with omni-wheels. An all plastic omni-wheel works poorly compared to an omni-wheel that uses rubber for the side wheels. Overly smooth robot wheels would likely skid while accelerating and braking. However a wheel that is really rough, such as a foam wheel, has higher friction with the ground leading to innefficiency. You also need to consider <strong>wear and tear</strong> on the wheel.</p>

<h2 id="wheel-width">Wheel Width</h2>

<p>You do not want it too wide as it causes increased resistance to rotating the wheel on a surface.</p>

<h2 id="wheel-hole-centre-diameter">Wheel hole centre diameter</h2>

<p><img id="img8"src="https://grubdragon.github.io/erciitb/assets/tutorials/Chassis/Chassis8.png" alt="wheel centre" /></p>

<p>This is where you would actually mount the <strong>output motor shaft</strong> to your motor. So you must know the length and diameter of your motor output shaft so that you may put this shaft into the hole of your motor.</p>

<p><img id="img9"src="https://grubdragon.github.io/erciitb/assets/tutorials/Chassis/Chassis9.png" alt="wheel centre" /></p>
<hr />

<h1 id="mounting-your-robot-wheel-techniques">MOUNTING YOUR ROBOT WHEEL TECHNIQUES</h1>

<h2 id="jamming">Jamming</h2>

<p>Lets start with a basic wheel attached to a basic motor. If the wheel does not have a center hole, just drill one out slightly smaller than the diameter of the shaft of your motor. Make sure the hole is perfectly centered!!!! Press fit (jam, if you will) the motor shaft into the wheel.</p>

<h2 id="servo-wheel-mounting">Servo Wheel Mounting</h2>

<p>Mounting a wheel onto a servo is fairly easy, and only requires a little drilling. When you purchase a servo, you also get a bunch of other little goodies with it. One of the items is called a <strong>servo horn</strong>. This is usually a black/red circular, X shaped, or I shaped plastic piece that attaches to the output shaft of the servo. So what you do is attach the wheel to this servo horn, then just screw the servo horn as designed into the servo. In the images below, I drilled two holes into my wheel, 2 holes into the servo horn (the red X thing), and screwed 2 screws into it to hold them together. Then I just attached the servo horn to my servo output shaft with a 3rd screw.</p>

<p>This servo wheel mounting method, with slight modification, can work for other motors too. Just make your own custom ‘servo horn’ with a custom hole designed to fit your motor output shaft.</p>

<script>
  var images=[]
  function getURL(part){
    images={{blog|safe}}

    return images[part-1]
  };
  var i=1;
  for (i = 1; i <=8; i++) { 
        document.getElementById("img" + i).src ="/media/"+getURL(i); 
    }
  
</script>
</div>
{% endblock %}