{% extends "erc/blog/BlogBase.html" %}
{% block blog %}
title      = gear
heading    = Gears
subheading = A gear is defined as “a toothed wheel that works with others to alter the relation between the speed of a driving mechanism (such as the engine of a vehicle) and the speed of the driven parts (the wheels).”
category   = None
tags       = None
author     = Shobhna Mishra
date       = July 07, 2016

//(DO NOT REMOVE THESE LINES)
//(WRITE YOUR BLOG BELOW)
<p>A gear is defined as “a toothed wheel that works with others to alter the relation between the speed of a driving mechanism (such as the engine of a vehicle) and the speed of the driven parts (the wheels).”</p>

<p>Gears are, basically, a means of transfer of motion.</p>

<h1> TABLE OF CONTENTS </h1>
<ul id="markdown-toc">
  <li><a href="#gear-ratio" id="markdown-toc-gear-ratio">GEAR RATIO</a></li>
  <li><a href="#gear-efficiency" id="markdown-toc-gear-efficiency">GEAR EFFICIENCY</a></li>
  <li><a href="#direction-of-gear-rotation" id="markdown-toc-direction-of-gear-rotation">DIRECTION OF GEAR ROTATION</a></li>
  <li><a href="#compound-gears" id="markdown-toc-compound-gears">COMPOUND GEARS</a></li>
  <li><a href="#gear-pitch" id="markdown-toc-gear-pitch">GEAR PITCH</a>    <ul>
      <li><a href="#types-of-gears" id="markdown-toc-types-of-gears">TYPES OF GEARS</a></li>
      <li><a href="#spur-gear" id="markdown-toc-spur-gear">Spur Gear</a></li>
      <li><a href="#helical-gears" id="markdown-toc-helical-gears">Helical Gears</a></li>
      <li><a href="#bevel-gear" id="markdown-toc-bevel-gear">Bevel Gear</a></li>
      <li><a href="#worm-gear" id="markdown-toc-worm-gear">Worm Gear</a></li>
      <li><a href="#rack-and-pinion" id="markdown-toc-rack-and-pinion">Rack and Pinion</a></li>
      <li><a href="#sun-and-planet-gears" id="markdown-toc-sun-and-planet-gears">Sun and Planet Gears</a></li>
    </ul>
  </li>
</ul>

<h1 id="gear-ratio">GEAR RATIO</h1>

<p>A gear ratio is a direct measure of the ratio of the rotational speeds of two or more interlocking gears. 
The gearing ratio is the value at which you change your velocity and torque. Again, it has a very simple equation. The gearing ratio is just a fraction which you multiple your velocity and torque by.
Suppose your gearing ratio is 3/1. This would mean you would multiply your torque by 3 and your velocity by the inverse, or 1/3.</p>

<p><strong>How to calculate gear ratio-</strong> As a general rule, when dealing with two gears, if the driving gear (the one directly receiving rotational force from the engine, motor, etc.) is bigger than the driven gear, the latter will turn more quickly, and vice versa. We can express this basic concept with the formula Gear ratio = T2/T1, where T1 is the number of teeth on the first gear and T2 is the number of teeth on the second.</p>

<p>For more details, refer <a href="http://www.wikihow.com/Determine-Gear-Ratio">here</a></p>

<p><strong>Achieving a particular ratio-</strong> If you wanted a simple gearing ratio of say 2 to 1, you would use two gears, one being twice as big as the other. It isn’t really the size as much as the diameter ratio of the two gears. If the diameter of one gear is 3 times bigger than the other gear, you would get a 3/1 (or 1/3) gearing ratio. You can easily figure out the ratio by hand measuring the diameter of the gears you are using.</p>

<p>For a much more accurate way to calculate the gearing ratio, calculate the ratio of teeth on the gears. If one gear has 28 teeth and the other has 13, you would have a (28/13=2.15 or 13/28=.46) 2.15 or .46 gearing ratio. We’ll go into this later, but this is why worm gears have such high gearing ratios. In a worm gear setup, one gear always has a single tooth, while the other has many - a guaranteed huge ratio. Counting teeth will always give you the most exact ratio.</p>
<hr />

<h1 id="gear-efficiency">GEAR EFFICIENCY</h1>

<p>Adding gears to the system leads to loss in power, due to friction, misalignment of pressure angles, gear backlash, etc. Different gears have different efficiencies, obviously. We’ll look at the efficiencies of various kinds of gears as we move ahead.</p>
<hr />

<h1 id="direction-of-gear-rotation">DIRECTION OF GEAR ROTATION</h1>

<p>When there are an even number of gears, the direction of rotation of the last gear is opposite to that of the first. We can see this from the tangential velocities at the point of contact.
Similarly, in case of odd number of gears, the direction of rotation of the last gear is same as that of the first.</p>

<p><strong>Gear Chains-</strong> Suppose you have 30 gears (holy squirrels!), all in order. How in the monkies do you calculate the gearing ratio of that behemoth? Easy. Ignore all the gears in between the very first and very last gear. If the diameter of the first gear is 2 inches, and the diameter of the last is 1 inch, you have a 2:1 ratio. The gears in between do not matter. Now what direction does the last gear rotate? Easy, you have an even number of gears, so it is counter-rotational of the first gear. What efficiency do you have? Well that’s:
Total efficiency = gear_type_efficiency ^ (# of gears - 1) = 0.9 ^ (29) = 4.7 %
If instead you used 5 gears, you would have:
Total efficiency = 0.9 ^ (4) = 65.6 %</p>
<hr />

<h1 id="compound-gears">COMPOUND GEARS</h1>
<p>When we have two gears on the same shaft, it’s a compound gear. The speed of rotation will be the same, as they are on the same shaft.</p>

<p><img id="img1"src="https://grubdragon.github.io/erciitb/assets/tutorials/Gears/gears1.jpg" alt="Drawing B" />
The center one is a compound gear.</p>
<hr />

<h1 id="gear-pitch">GEAR PITCH</h1>
<p><img id="img2"src="https://grubdragon.github.io/erciitb/assets/tutorials/Gears/gears2.jpg" alt="Drawing B" /></p>

<p><strong>Circular Pitch-</strong> the distance between corresponding points of consecutive gear teeth measured along the pitch circle.</p>

<p><strong>Diametral Pitch –</strong> the quantity of teeth per inch of the diameter.</p>
<hr />

<h2 id="types-of-gears">TYPES OF GEARS</h2>

<h2 id="spur-gear">Spur Gear</h2>
<p>Spur Gears are the most common type of gears. The design is simple, hence they are easy to manufacture. Manufacture and maintenance are economical. They impose only radial thrust on the bearings. Disadvantage is that they produce a lot of noise, and the noise can become really intolerable at high speeds. Efficiency is approximately 90%.</p>

<p><img id="img3"src="https://grubdragon.github.io/erciitb/assets/tutorials/Gears/gears3.jpg" alt="Drawing B" /></p>

<h2 id="helical-gears">Helical Gears</h2>
<p>Gears having teeth inclined at some angle to the shaft. The teeth look like they’re forming a helix, hence the name. The angle of inclination, however, shouldn’t be too large, as it affects the power transmission, and also reduces the lifetime of the gear. These gears can take higher loads than spur gears. The motion of helical gears is smoother and quieter than spur gears, hence these can be used at high speeds. These impart both radial loads and thrust loads on their bearings. Efficiency of helical gears is approximately 80%.</p>

<p><img id="img4"src="https://grubdragon.github.io/erciitb/assets/tutorials/Gears/gears4.jpg" alt="Drawing B" /></p>

<h2 id="bevel-gear">Bevel Gear</h2>
<p>Bevel Gears are used when the direction of a shaft’s rotation needs to be changed. They can be inclined at any angle, but the most common ones are inclined at 90 degrees. Efficiency is approximately 70%.</p>

<p>Spiral Bevel Gears-</p>

<p><img id="img5"src="https://grubdragon.github.io/erciitb/assets/tutorials/Gears/gears5.jpg" alt="Drawing B" /></p>

<p>Zero Bevel Gears -</p>

<p><img id="img6"src="https://grubdragon.github.io/erciitb/assets/tutorials/Gears/gears6.jpg" alt="Drawing B" /></p>

<h2 id="worm-gear">Worm Gear</h2>
<p>Worm Gears are used when large power reductions are needed. The worm resembles a screw, and the gear which is in contact resembles a spur gear. The worm gear is not back-drivable, which means only the motor can drive it, and it won’t be affected by gravity and other counter-forces. Efficiency is approximately 70%.</p>

<p><img id="img7"src="https://grubdragon.github.io/erciitb/assets/tutorials/Gears/gears7.jpg" alt="Drawing B" /></p>

<h2 id="rack-and-pinion">Rack and Pinion</h2>
<p>Ever wondered what converts the rotation of the steering wheel to the left-right movements of the tie rods in automobiles? The rack and pinion gears do it for you! They convert rotational motion to linear motion, with an amazing efficiency. Efficiency is almost 90%. The straight one is known as ‘rack’ and the circular one is known as ‘pinion’.</p>

<p><img id="img8"src="https://grubdragon.github.io/erciitb/assets/tutorials/Gears/gears8.jpg" alt="Drawing B" /></p>

<h2 id="sun-and-planet-gears">Sun and Planet Gears</h2>
<p>If you need a really really high gearing ratio for your robot, planetary gears are the way to go! This can be used to convert reciprocating motion into rotary motion. Fun fact- James Watt used it in his early steam engines!</p>

<p><img id="img9"src="https://grubdragon.github.io/erciitb/assets/tutorials/Gears/gears9.jpg" alt="Drawing B" /></p>

<p><a href="https://www.youtube.com/watch?v=JBB1sC7LCuQ&amp;spfreload=10">Here</a> is a wonderful video explaining this gear system.</p>

<script>
  var images=[]
  function getURL(part){
    images={{blog|safe}}

    return images[part-1]
  };
  var i=1;
  for (i = 1; i <=1; i++) { 
        document.getElementById("img" + i).src ="/media/"+getURL(i); 
    }
  
</script>        

{% endblock %}

