{% extends "BlogBase.html" %}
title      = switchedModePST
heading    = Switched Mode Power Supply Technology
subheading = Learn about the technology present in chargers!
category   = Projects 
tags       = Rectifier, Power Electronics
author     = Dhrumil Shah
date       = July 31, 2016

//(DO NOT REMOVE THESE LINES)
//(WRITE YOUR BLOG BELOW FROM LINE 12)

<p>Switched Mode Power Supply or SMPS is an electronic power supply that incorporates a switching regulator to convert electrical power efficiently. Like other power supplies, an SMPS transfers power from a source, like mains power, to a load, such as a PC, while converting voltage and current characteristics. A typical SMPS is seen down here :</p>

<p><strong><img id="img1" src="/static/erc/assets/assets/smps/image1.png" alt="image" /></strong></p>

<h2 id="circuit-diagram">Circuit Diagram</h2>

<p><img id="img2" src="/static/erc/assets/assets/smps/image_2.png" alt="image" /></p>

<p><em>The components F1 and F2 are referred to as Fuse.</em></p>

<h2 id="the-components-of-smps">The components of SMPS</h2>

<p><strong>EMI Filter :</strong> The low-pass EMI filter is designed to reduce to an acceptable level high frequency currents getting back into the AC line. This is necessary to prevent interference on the other devices connected to the same electrical wiring. This is to comply some of the safety regulations.</p>

<p><strong>Rectifier Bridge :</strong> It converts bipolar waveforms into unipolar pulsating ones. It has four diodes in a bridge arrangement to provide the same polarity of the output for both polarities of the input.</p>

<p><strong>PFC Regulator :</strong> The Power Factor (PF) of rectified input voltage is increased in this part of the circuit. The ratio of the actual electrical power dissipated by an AC circuit to the product of the r.m.s. values of current and voltage is called Power Factor.. The difference between the two is caused by reactance in the circuit and represents power that does no useful work.</p>

<p><strong>DC-DC Converter :</strong> It is used to generate DC outputs from the PFC outputs.</p>

<h3 id="specifications-to-know-before-choosing-smps">Specifications to know before choosing SMPS</h3>

<p>Different SMPSs have different power ratings, different voltage outputs and thus different current ratings. It is thus important to decide upon these factors before choosing the SMPS of your choices.</p>

<h2 id="real-life-applications">Real life applications</h2>

<p><strong>Some of the places where SMPS can be found are as follows:</strong></p>

<p>When we use an adapter-looking thing to power Arduino, it converts 220V supply to a 12V supply required to power the Arduino. This is achieved by the SMPS present inside the black part of the adapter.</p>

<p><img id="img3" src="/static/erc/assets/assets/smps/image_3.png" alt="image" /></p>

<p>The black box looking thing attached to a laptop charger is actually an SMPS to convert the input to an output DC Voltage to charge the battery.</p>

<h3 id="how-to-use-it-with-arduino">How to use it with Arduino</h3>

<p>Suppose we need to power a device which works at a higher voltage and power supply than an arduino can provide, we can use an SMPS to power the circuit. But if we want to control the turning on and off of the device using arduino we might face a problem in this case. In this case a relay will work the best as relay can be used to control a higher rated circuit using Arduino’s lower rated circuit.</p>

<script>
  var images=[]
  function getURL(part){
    images={{blog|safe}}

    return images[part-1]
  };
  var i=1;
  for (i = 1; i <=x; i++) { 
        document.getElementById("img" + i).src ="/media/"+getURL(i); 
    }
  
</script>