{% extends "erc/blog/BlogBase.html" %}
{% block blog %}
<div class="blog-content">
title      = openCV
heading    = Using OpenCV on Raspberry-Pi
subheading = Getting OpenCV installed and running on Rpi, with necessary scripts and files
category   = Tutorials
tags       = Raspberry Pi, OpenCV
author     = Riddhish Bhalodia
date       = March 7, 2016

//(DO NOT REMOVE THESE LINES)
//(WRITE YOUR BLOG BELOW FROM LINE 12)

<p><img id="img1"src="/static/erc/assets/assets/using-opencv-on-raspberry-pi/rpi.jpeg" alt="raspberry pi logo" /></p>

<p>Raspberry Pi is slowly finding a lot of applications related to image processing. I am going to provide a little overview of how one can get OpenCV up and running on your pi. I will be using tightVNC server for getting the display.</p>

<p>The first step is getting OpenCV installed on your pi, we will follow the exact same procedure of installing OpenCV which I use on ubuntu. I will show you step by step on how to get your opencv setup on rpi ready.</p>

<p><strong><u>Step Zero</u></strong></p>

<p>Before we begin, I will tell you how my pi is connected so there is no confusion after moving further.<br />
I have my pi connected to my wi-fi router with a LAN cable and have changed it to a <em>static IP configuration.</em> I am accessing it through my terminal using the ssh channel. In short what I have now and what you should have is a rpi with it’s terminal. If you are totally new to rpi, I suggest you to take a look at these tutorials for setting up your pi <a href="/tutorials/r_pi">get you pi up and running</a>.</p>

<p><strong><u>Step One</u></strong></p>

<p>Install tightvncserver on the rpi as well as your linux powered laptop/desktop where you plan to get the display window of your pi. You can do that by a simple command <code class="highlighter-rouge">sudo apt-get install tightvncserver</code></p>

<p><strong><u>Step Two</u></strong></p>

<p>Now we start the vnc-server in the rpi, this will broadcast the “screen” of the rpi over the server, which then can be accessed remotely from some other laptop/desktop connected with the same server. In order to do this we need to run the following command on the rpi terminal:<br />
<code class="highlighter-rouge">vncserver :1 -geometry 1366x600 -depth 16 -pixelformat rgb565</code><br />
If you are doing this for the first time then it will ask you for setting a password (Yes, you need to remember it!). After finishing that you should see the following on the rpi’s terminal.<br />
<code class="highlighter-rouge">#New ‘X’ desktop is raspberrypi:1</code><br />
This means you have successfully got your rpi desktop put up on your server, now you need to access it.</p>

<p><strong><u>Step Three</u></strong></p>

<p>Now using the laptop/desktop’s terminal and execute this command:<br />
<code class="highlighter-rouge">vncviewer rpi_ip:5901</code><br />
Here, rpi_ip is the static IP which you would have set for your pi. You will be asked for a password which you have set in the previous step, and then voila!. :D</p>

<p><strong><u>Step Four</u></strong></p>

<p>Now all you need is to get opencv installed on your rpi. To get that done just follow the steps which you will use to install opencv in normal ubuntu based system, if you are comfortable with it then this tutorial stops here for you.For OpenCV installation Just follow the steps listed <a href="/static/erc/assets/assets/using-opencv-on-raspberry-pi/opencv installation.pdf">here(OpenCV installation on Ubuntu).</a><br />
You will also need two scripts in above installation the opencv installation. Get them from here:<br />
<a href="/static/erc/assets/assets/using-opencv-on-raspberry-pi/opencv2_4_6_1.sh">opencv2_4_6_1.sh</a><br />
<a href="/static/erc/assets/assets/using-opencv-on-raspberry-pi/new">new</a></p>

<p><strong>Thank You!</strong></p>

<hr />

<script>
  var images=[]
  function getURL(part){
    images={{blog|safe}}

    return images[part-1]
  };
  var i=1;
  for (i = 1; i <=1; i++) { 
        document.getElementById("img" + i).src ="/media/"+getURL(i); 
    }
  
</script>
</div>
{% endblock %}