{% extends "erc/blog/BlogBase.html" %}
{% block blog %}
<div class="blog-content">
title      = digitalLPP
heading    = Working of a Digital Light Processing Projector
subheading = Describing the internals and working mechanism, as found in the How Things Work session
category   = Information
tags       = Light Processing
author     = Pranav Sankhe
date       = May 3, 2016

//(DO NOT REMOVE THESE LINES)
//(WRITE YOUR BLOG BELOW FROM LINE 12)

<p>The Robotics Club in association of The Electronics Club of IIT Bombay conducts regular sessions named “How Things Work?” where we open up a device used in everyday life and try to understand how it works.</p>

<p>On a particular session we opened up a DLP projector.</p>

<h2 id="introduction">Introduction</h2>

<p>Digital light processing is a display device based on optical micro-electro-mechanical technology. In simple words, it is the device which is used inside the projectors used for showing films in theatres. It was originally developed in 1987 by Dr.Larry Hornbeck of Texas Instruments. While the DLP imaging device was invented by Texas Instruments, the first DLP-based projector was introduced by Digital Projection Ltd in 1997</p>

<p><br />
<img id="img1" src="/static/erc/assets/assets/working-of-a-dlp-projector/image_0.jpg" alt="Components" /></p>

<p><br /></p>

<h2 id="components">Components</h2>

<p><img id="img2" src="/static/erc/assets/assets/working-of-a-dlp-projector/image_1.jpg" alt="diagram" /></p>

<ul>
  <li><strong>Lamp</strong></li>
  <li><strong>Condensing lens</strong></li>
  <li><strong>Colour Filter</strong></li>
  <li><strong>Shaping Lens</strong></li>
  <li><strong>DMD (digital micromirror device)</strong></li>
</ul>

<h2 id="working-of-the-projector">Working of the Projector</h2>

<h4 id="lamp-">Lamp :</h4>
<p>The lamp is generally a Xenon arch lamp which is ignited by a 5000 - 20,000 volt pulse from a current-regulating ballast to initiate an arc between two electrodes in the quartz tube.</p>

<h4 id="condensing-lens-">Condensing Lens :</h4>
<p>The light passes through the condensing lens which converges light on the colour wheel.</p>

<h4 id="colour-wheel-">Colour Wheel :</h4>
<p>Now let’s understand what this colour wheel is. You can see in the diagram given above that there is a chip (DMD) which sends light to the screen. All that the chip can do is either send or not send light – making it black-and-white only. To create colour images, projector manufacturers include a colour wheel which rotates in synchronization over the DLP chip. As it rotates between red, blue and green, the DLP chip sends the correct pattern of light. Because the images go on and off the screen so quickly, the brain puts them together into one full-colour image. It gives us a sense of a continuous motion picture going on, a phenomenon known as <a href="https://en.wikipedia.org/wiki/Persistence_of_vision">Persistence</a>.</p>

<h4 id="dmd-chip-">DMD Chip :</h4>
<p>After passing through colour wheel light falls on the DMD chip. A DMD chip has on its surface several hundred thousand microscopic mirrors arranged in a rectangular array which correspond to the pixels in the image to be displayed. The mirrors can be individually rotated ±10-12°, to an on or off state. In the on state, light from the projector bulb is reflected into the lens making the pixel appear bright on the screen. In the off state, the light is directed elsewhere (usually onto a heatsink), making the pixel appear dark.</p>

<h2 id="working-of-the-dmd-chip">Working of the DMD chip</h2>

<p>The working mechanisms of a DMD chip is a very interesting combination of application of mechanical, electrical and optical engineering.</p>

<p><br />
<img id="img3" src="/static/erc/assets/assets/working-of-a-dlp-projector/image_2.jpg" alt="DMD chip" /></p>

<p><br />
The DMD chip has millions of small mirrors. Before any of the mirrors in the DMD chip switch to their on or off positions, the chip will rapidly decode a bit-streamed image code that enters through the semiconductor. It then converts the data from interlaced to progressive, allowing the picture to fade in. Next, the chip sizes the picture to fit the screen and makes any necessary adjustments to the picture, including brightness, sharpness and colour quality. Finally, it relays all the information to the mirrors, completing the whole process in just 16 microseconds.</p>

<p>The mirrors are mounted on tiny mechanical hinges that enable them to tilt either toward the light source (ON) or away from it (OFF) up to +/- 12°, and as often as 5,000 times per second. When a mirror is switched on more than off, it creates a light gray pixel. Conversely, if a mirror is off more than on, the pixel will be a dark gray. Now combining this with the colour wheel, we can get all the colours we want. In simple words, the proportion of time the mirror is ON decides the intensity of the color which is sent to it by the color wheel.</p>

<h4 id="lens">Lens</h4>
<p>Finally all the data (pixels) obtained from the DMD chip is projected on screen after passing the light through a diverging lens and thus we get the desired visual output on the screen.</p>

<p><strong>NOTE</strong>: The lens arrangement is made such that light from the lamp is passed through the condenser which focuses the beam on colour wheel and then the same beam has to be de-focussed in order to project it on the screen.</p>

<p>For getting a better understanding of how a DLP works, you can watch this <a href="https://youtu.be/CI0cwk25CAs">YouTube video</a></p>

<script>
  var images=[]
  function getURL(part){
    images={{blog|safe}}

    return images[part-1]
  };
  var i=1;
  for (i = 1; i <=3; i++) { 
        document.getElementById("img" + i).src ="/media/"+getURL(i); 
    }
  
</script>
</div>
{% endblock %}