<!DOCTYPE html>

{% extends '../base_events_news.html' %}

{% block body %}


<section id ="team">

	<!--div class="container">
	
		<div class="row">
         
          <div class="col-lg-3 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            < <div class="member">
              <img src="{{first.image.url}}" class="img-fluid" alt="">
            < </div>>
            <div class="col-lg-3 col-md-4">
            	<h4>
            		{{first.name}}
            	</h4>
            </div>
          </div>
          
        </div>



	</div-->
	<h1 align="center">Under Construction</h1>
</section>

{% endblock %}
