{% extends 'erc/base_events_news.html' %}

{% block title %}Testimonials{% endblock %}


{% block head %}
{% endblock %}

{% block body %}
<section id="team">
	{% for rev in revs%}
	<div align="center"><h1>{{rev.name}}</h1></div>
	<div align="center"style="margin-left:100px;margin-right:100px"><h4>{{rev.description}}</h4></div>
	<div align="center"><img src="{{rev.image.url}}/" height="300px" width="300px"></div>
	<br>
	<div> <p style="margin-left:100px;margin-right:100px">{{rev.review}}</p></div>
	<hr width="50%">
	{%endfor%}
</section>
{% endblock %}