<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
  <meta charset="utf-8">
  <title>{{event.name}}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="A place for tinkerers and the sort!" name="description">
  <meta name="twitter:description" content="A place for tinkerers and the sort!">
  <meta name="twitter:card" content="summary">

  <!-- Favicons -->
  <link href="{% static 'erc/img/favicon.ico' %}" rel="icon">
  <link href="{% static 'erc/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'erc/lib/bootstrap/css/bootstrap.min.css' %}"rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'erc/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'erc/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'erc/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'erc/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'erc/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'erc/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
<body>
  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top" style="background-color: white; opacity: 0.95;">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active" style="color:red;"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2 style="font-style: italic; font-weight: bold;">Electronics and <br>Robotics club<br>IIT Bombay</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">About Us</a>
          <a href="#portfolio" class="btn-services scrollto">Our Events</a>
        </div>
      </div>

    </div>
  </section>
<p>Electronics club conducted its last electrified session on 18th March, 2017. It was totally awesome as we got an opportunity to make a half adder, full adder, subtractor and priority encoder. Along with that we also learnt some cool stuff about digital circuits.</p>

<p>##Where do we begin from to make anything as simple as an adder?</p>

<p>We basically use a combinational circuit. Not only an adder but we can even make a subtractor, priority encoder, MUX and what not!</p>

<p>Combinational circuit is basically used for making those circuits which depends on the current state.</p>

<p><img src="/static/erc/assets/assets/get-electrified-3/image_0.png" alt="Combinational Logic Circuits" /></p>

<p>##So, let us now begin with how exactly do these combinational circuits function:</p>

<h2 id="adder">Adder:</h2>

<p>As you can guess an adder simply add two numbers. But why do we need a complicated circuit to just add numbers? Actually, adders are used in the arithmetic logic units in many computers and other kinds of processors.</p>

<p>There are two kinds of adders:</p>

<h3 id="1-half-adder">1) Half adder</h3>

<h3 id="2-full-adder">2) Full adder</h3>

<p>The major difference between a half adder and a full adder is that a full-adder has three inputs and two outputs where as a half adder has only two inputs and two outputs. In a full adder, the first two inputs are A and B and the third input is an input carry.</p>

<p>The circuit diagram and truth table of a half adder and full adder is shown below:</p>

<p><img src="/static/erc/assets/assets/get-electrified-3/image_1.png" alt="Half Adder" /></p>

<p><img src="/static/erc/assets/assets/get-electrified-3/image_2.png" alt="Full Adder" /></p>

<h2 id="subtractor">Subtractor:</h2>

<p>Similarly, a subtractor subtracts two numbers. They are also of two types and as you can guess the two types are:</p>

<h3 id="1-half-subtractor">1) Half subtractor</h3>

<h3 id="2-full-subtractor">2) Full subtractor</h3>

<p>Just like in an adder, the subtractor has similar inputs just the difference is that instead of a carry we have a “borrow”.</p>

<p>The circuit diagram and truth table of a half subtractor and full subtractor is shown below:</p>

<p><img src="/static/erc/assets/assets/get-electrified-3/image_3.png " alt="Half Subtractor" /></p>

<p><img src="/static/erc/assets/assets/get-electrified-3/image_4.png " alt="Full Subtractor" /></p>

<h2 id="priority-encoder">Priority Encoder:</h2>

<p>So basically, what a priority encoder do is that it gives the highest priority of the current input as an output. So, when an input with a higher priority is present, all other inputs with a lower priority will be ignored. The priority encoder comes in many different forms with an example of an 8-input priority encoder along with its truth table shown below.</p>

<h2 id="8-to-3-bit-priority-encoder">8-to-3 Bit Priority Encoder:</h2>

<p><img src="/static/erc/assets/assets/get-electrified-3/image_5.png " alt="8 to 3 bit Priority Encoder" /></p>

<p>Where X equals “don’t care”, that is it can be either logic “0” or logic “1”.</p>

<h2 id="multiplexer-mux-and-demultiplexer">Multiplexer (MUX) and Demultiplexer:</h2>

<h2 id="how-are-multiple-signals-combined">How are multiple signals combined?</h2>

<p>MUX is used for this purpose. It has N Select lines, 2N input lines, and it routes one of the input lines to the output. Conceptually, a MUX may be thought of as 2N switches. For a given combination of the select inputs, only one of the switches closes (makes contact), and the others are open.</p>

<p>It is obvious from the name that a demultiplexer do the reverse of what a multiplexer do. It takes a single input (I) and routes it to one of the output lines. For N Select inputs, the number of output lines is 2^N.</p>

<p>Circuit diagram and truth table of a multiplexer is shown below:</p>

<p><img src="/static/erc/assets/assets/get-electrified-3/image_6.png " alt="4:1 Multiplexer" />  <img src="/static/erc/assets/assets/get-electrified-3/image_7.png " alt="Truth Table" /></p>

<p>Circuit diagram and truth table of a demultiplexer is shown below:</p>

<p><img src="/static/erc/assets/assets/get-electrified-3/image_8.png " alt="1:4 Demultiplexer" />  <img src="/static/erc/assets/assets/get-electrified-3/image_9.png " alt="Truth Table" /></p>

<h2 id="encoders-and-decoders">Encoders and Decoders:</h2>

<p>You might be wondering what is the need of an encoder?</p>

<p>It is actually used to convert information from one format to another for the purpose of standardization, speed and compressions.</p>

<p>In encoders, only one input line is assumed to be active. The binary number corresponding to the active input line appears at the output pins. The N output lines can represent 2N binary numbers, each corresponding to one of the M input lines, i.e., we can have M = 2N. Some encoders have M &lt; 2 N.</p>

<p>Similarly, you can guess the functioning of a decoder. For each input combination, only one output line is active (which means 0 or 1, depending on whether the outputs are active low or active high). Since there are 2N input combinations, there could be 2N output lines, i.e., M = 2N. However, there are decoders with M &lt; 2 N as well.</p>

<p><img src="/static/erc/assets/assets/get-electrified-3/image_10.png " alt="Encoder" /></p>

<p><img src="/static/erc/assets/assets/get-electrified-3/image_11.png " alt="Decoder" /></p>
</body>