{% extends 'erc/base_events_news.html' %}

{% block title %}{{event.name}}{% endblock %}

{%block forevents%}class="active"{%endblock%}
{% block head %}
<style>
    .square_btn{
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

.square_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
</style>
{% endblock %}


{% block body %}
<section style="background-color:#DAF7A6;">
  <br>
  <br>
  <div align="center"><img src={{event.img.url}} height="400" ></div>
  <br>
  <div align="center" ><h1 style="font-style:italic"><b>{{event.name}}</b></h1></div>>
  {% if event.date%}
    <div align="center"><h2 style="color:blue"><img src="https://img.icons8.com/wired/64/000000/calendar.png">{{event.date}}</h2></div>
  {%endif%}
  {% if event.content%}
  <p style="margin-left: 140px;margin-right:140px">{{event.content}}</p>
  {%endif%}
  <br>
  {% if event.event_status%}
    <div align="center"><h2>{{event.event_status}}</h2></div>
  {%endif%}
  {% if event.name == "XLR8" %}
  <div align="center" ><a href="https://docs.google.com/forms/d/e/1FAIpQLSfJRMDFBfvSNFEhPLVSkgrGMwXQixkRp-XNLm9br60NkoHp5g/closedform" class="square_btn" >Register</a></div>
  <br>
  <br>
  <br>
  <div align="center"><h3>PROBLEM STATEMENT</h3><iframe src="{{event.problem_statement.url}}" height="1000" width="800"></iframe></div>>
  <br>
  <br>
  <div align="center" ><a href="#" class="square_btn" >LINK TO THE TUTORIAL</a></div>
  <br>
  <br>
  <div align="center"><h3>DEMO VIDEO</h3></div>
  <div align="center"><video height="500"  controls>
  <source src="{{event.video}}" type="video/mp4">
  </video></div>
  {%endif%}
  <br>
  <br>
</section>
{% endblock %}